#header {
  position: relative;
  height: 50px;
  background-color: #ff841d;
  padding: 10px;
}
#header > .logo {
  float: left;
  margin-left: 5px;
  font-size: 20px;
  color: white;
}
#header h4 {
  position: absolute;
  left: 50%;
  margin-left: -36px;
  color: white;
}
#header > .appdown {
  float: right;
  margin-top: -2px;
}
#header > .appdown > img {
  height: 34px;
}
#section ul li {
  float: left;
  display: table-cell;
  padding: 10px 0 0 10px;
  text-align: center;
  vertical-align: middle;
  background: none;
  width: 50%;
  background: #FFFFFF;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-top-width: 0;
  overflow: hidden;
}
#section ul li a {
  display: block;
}
#section ul li a .img {
  margin: 10px auto;
  width: 140px;
  height: 140px;
}
#section ul li a .img img {
  width: 140px;
  height: 140px;
}
#section ul li a .tit {
  color: #333333;
  padding: 0 8px;
  font-size: 14px;
  text-align: left;
  line-height: 18px;
  height: 36px;
  overflow: hidden;
}
#section ul li a .subtit {
  color: #ff6c00;
  margin-top: 4px;
  font-size: 14px;
  padding: 0 8px;
  text-align: left;
  overflow: hidden;
  height: 18px;
  line-height: 18px;
}
#section ul li a .info {
  padding: 6px 8px;
  color: #a1a1a1;
  font-size: 12px;
  text-align: left;
}
#footer .row > div {
  text-align: center;
  border: 1px solid #ccc;
  height: 30px;
  line-height: 30px;
}
#footer .row > div > a > img {
  width: 15px;
  height: 15px;
  margin-bottom: 3px;
}
#footer .row > div + div {
  border-left: 0;
}
#footer > p {
  margin: 5px 0;
  text-align: center;
  font-size: 12px;
}
#footer > p > a:first-child {
  color: red;
}
