#header {
  position: relative;
  height: 50px;
  background-color: #ff8b00;
  padding: 10px;
}
#header > .logo {
  float: left;
  margin-left: 5px;
  font-size: 20px;
  color: white;
}
#header h4 {
  position: absolute;
  left: 50%;
  margin-left: -36px;
  color: white;
}
#header > .appdown {
  float: right;
  margin-top: -2px;
}
#header > .appdown > img {
  height: 34px;
}
#section .classm {
  width: 300px;
  margin: 0 auto;
  margin-top: 10px;
}
#section .classm a {
  display: inline-block;
  padding: 10px 8px;
  background: #f4f4f4;
  border: 1px solid #bfbfbf;
  float: left;
  margin: 0 0 5px 5px;
  color: black;
}
#footer .row > div {
  text-align: center;
  border: 1px solid #ccc;
  height: 30px;
  line-height: 30px;
}
#footer .row > div > a > img {
  width: 15px;
  height: 15px;
  margin-bottom: 3px;
}
#footer .row > div + div {
  border-left: 0;
}
#footer > p {
  margin: 5px 0;
  text-align: center;
  font-size: 12px;
}
#footer > p > a:first-child {
  color: red;
}
